* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: var(--first-back-color);
}
:root {
  --main-color: white;
  --first-back-color: #5591fa;
  --second-back-color: #00d8d4;
  --third-back-color: #e3381c;
  --fourth-back-color: black;
}
a {
  text-decoration: none;
  color: aqua;
}
.signUpCont {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  line-height: 1.2;
  text-align: center;
}
.signUpCont h1 {
  font-size: 4em;
  text-transform: uppercase;
}

.signUpCont > p {
  font-size: 1.2 em;
  width: 400px;
  text-align: center;
  font-weight: 600;
}

.regCont {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}
.regCont input {
  margin-bottom: 20px;
}

input {
  font-size: 1.5 em;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px;
  text-align: center;
}
input[type="text"],
input[type="password"]:valid {
  border: 2px solid green;
}
/*
input[type="text"],
input[type="password"]:invalid {
  border: 2px solid red;
}
*/
input:focus {
  outline: none;
  border: none;
  border: 2px solid blue;
}

.inputStyle1::before {
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  font-size: 50px;
  padding: 20px;
  color: grey;
}
.inputStyle2::before {
  font-family: "FontAwesome";
  content: "\f0e0";
  position: absolute;
  font-size: 50px;
  padding: 20px;
  color: grey;
}
.inputStyle3::before {
  font-family: "FontAwesome";
  content: "\f023";
  position: absolute;
  font-size: 50px;
  padding: 20px;
  color: grey;
}

.radioCont {
  width: 770px;
  height: 80px;
  border: 2px solid white;
  font-size: 1.2em;
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
}

.radioInfo {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.radioInfo h2 {
  font-size: 1.5em;
}

.submitCont {
  width: 770px;
  color: var(--main-color);
  background: var(--second-back-color);
  margin-top: 10px;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.submitCont:focus {
  background: var(--fourth-back-color);
  border: 2px solid white;
}
.submitCont:hover {
  background: var(--fourth-back-color);
  border: 2px solid white;
  transition: all 0.5s;
}
span {
  width: 770px;
}
.submitGoogle {
  width: 770px;
  color: var(--main-color);
  background: var(--third-back-color);
  margin-top: 10px;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.submitGoogle:focus {
  color: red;
  background: var(--main-color);
  border: 2px solid red;
}
.submitGoogle:hover {
  color: red;
  background: var(--main-color);
  border: 2px solid red;
  transition: all 0.7s;
}

@media screen and (max-width: 576px) {
  .signUpCont {
    flex-direction: column;
  }
  .signUpCont h1 {
    font-size: 2em;
    text-transform: uppercase;
  }

  .signUpCont > p {
    font-size: 1.2 em;
    width: 400px;
    text-align: center;
    font-weight: 600;
  }
}
